Repository rust-amplify/rust-amplify, pull requests merged in 2021-12, with the labels that each got.

#107 amplify_num: std::Error for Error type
  Cargo.lock
  num/Cargo.toml
  num/src/hex.rs
Labels: enhancement

#109 add #[display(lowercase)] for enums (and uppercase)
  derive/src/display.rs
  derive/src/lib.rs
Labels: enhancement, good first issue, C-derive

#110 Add to/from_be_bytes for u24
  Cargo.lock
  num/Cargo.toml
  num/src/smallint.rs
Labels: C-num
