Repository rust-amplify/rust-amplify, pull requests merged in 2021-08, with the labels that each got.

#99 Adding Slice32 module from descriptor-wallet
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/slice32.rs
Labels: enhancement, C-amplify

#100 Making hex, num and main crate no_std
  .github/workflows/build.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  num/Cargo.toml
  num/src/hex.rs
  num/src/lib.rs
  src/as_any.rs
  src/flags.rs
  src/lib.rs
  src/slice32.rs
Labels: C-num

#102 Improvements to lints
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  derive/Cargo.toml
  derive/src/display.rs
  derive/src/lib.rs
  src/bipolar.rs
  src/flags.rs
  src/macros.rs
  syn/src/attr.rs
  syn/src/cls.rs
  syn/src/lib.rs
  syn/src/req.rs
Labels: documentation

#97 issue-78. DivRem trait added to smallint, bigint
  num/src/bigint.rs
  num/src/divrem.rs
  num/src/lib.rs
  num/src/smallint.rs
Labels: enhancement, good first issue, C-num

#104 Fixing `Getters` behavior to match documentation
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  derive/CHANGELOG.md
  derive/Cargo.toml
  derive/src/getters.rs
  derive/src/lib.rs
Labels: bug, C-derive

#105 Improvimg amplify_syn::ArgValue convertors
  Cargo.lock
  Cargo.toml
  derive/src/lib.rs
  derive/src/util.rs
  syn/Cargo.toml
  syn/src/val.rs
Labels: enhancement, C-syn
