Repository rust-amplify/rust-amplify, pull requests merged in 2022-11, with the labels that each got.

#152 Make Wrapper::Inner not require clone, only have to_inner require Clone
  src/wrapper.rs
Labels: enhancement, C-amplify

#155 Introduce confinement module
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/confinement.rs
  src/lib.rs
Labels: C-amplify

#160 Separate Wrapper and WrapperMut
  Cargo.lock
  Cargo.toml
  derive/Cargo.toml
  derive/src/lib.rs
  derive/src/wrapper.rs
  src/lib.rs
  src/slice32.rs
  src/wrapper.rs
Labels: C-derive, C-amplify, breaking

#161 Candidate changes for v0.4
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  derive/README.md
  serde_str_helpers/README.md
  src/collection/array.rs
  src/collection/confinement.rs
  src/collection/flags.rs
  src/collection/mod.rs
  src/io_error.rs
  src/lib.rs
  src/macros.rs
  src/slice32.rs
  src/traits/as_any.rs
  src/traits/dumb.rs
  src/traits/join_split.rs
  src/traits/mod.rs
  src/traits/raw_str.rs
  src/traits/to_serde_string.rs
  src/traits/wrapper.rs
  stringly_conversions/README.md
  syn/README.md
Labels: C-derive, C-amplify, breaking

#158 v4.0 beta
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  apfloat/Cargo.toml
  derive/Cargo.toml
  derive/README.md
  derive/src/lib.rs
  derive/src/wrapper.rs
  num/Cargo.toml
  serde_str_helpers/Cargo.toml
  serde_str_helpers/README.md
  src/collection/array.rs
  src/collection/confinement.rs
  src/collection/flags.rs
  src/collection/mod.rs
  src/io_error.rs
  src/lib.rs
  src/macros.rs
  src/slice32.rs
  src/traits/as_any.rs
  src/traits/dumb.rs
  src/traits/join_split.rs
  src/traits/mod.rs
  src/traits/raw_str.rs
  src/traits/to_serde_string.rs
  src/traits/wrapper.rs
  stringly_conversions/Cargo.toml
  stringly_conversions/README.md
  syn/Cargo.toml
  syn/README.md
Labels: C-derive, C-amplify, breaking
