Repository rust-amplify/rust-amplify, pull requests merged in 2022-02, with the labels that each got.

#119 add `amplify_apfloat`: u256 backend apfloat (support IEEE octuple precision)
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  apfloat/Cargo.toml
  apfloat/src/ieee.rs
  apfloat/src/lib.rs
  apfloat/src/ppc.rs
  apfloat/tests/ieee.rs
  apfloat/tests/ppc.rs
  num/src/bigint.rs
Labels: C-num

#118 implement add, sub, mul on posit
  apfloat/src/ieee.rs
  apfloat/src/lib.rs
  num/src/bigint.rs
  num/src/posit.rs
Labels: enhancement, C-num

#117 add div methods on bigint
  num/src/bigint.rs
  num/src/divrem.rs
  num/src/error.rs
  num/src/lib.rs
  num/src/smallint.rs
Labels: enhancement, C-num

#121 Num release and exports fix
  Cargo.lock
  Cargo.toml
  apfloat/Cargo.toml
  num/Cargo.toml
  num/src/lib.rs
  num/src/posit.rs
  num/src/smallint.rs
Labels: C-num

#122 Re-export apfloat package
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  apfloat/Cargo.toml
  apfloat/src/ieee.rs
  apfloat/src/lib.rs
  src/lib.rs
Labels: C-num

#123 Release apfloat and amplify with fixed no-std features
  Cargo.lock
  Cargo.toml
  apfloat/Cargo.toml
Labels: bug, C-num
